.primary {
    background-color: red !important;
}
.large {
    width: 181px;
    display: block;
    position: relative;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    &.animate{
        .icon{
            font-size:15px;
            position: absolute;
            transition: transform 0.5s ease;
            transform: translateX(-181px);
            margin-right: 10%;
            
        }
        .title{
            padding: 14px 39px;
            transition: transform 0.5s ease;
           
        }
        &:hover .title {
            transform: translateX(181px);
            position: absolute;
            
        }
        &:hover .icon {
            transform: translateX(50%);
            position: absolute;
            
        }
    }
}

.small {
    width: 110px;
    height: 34px;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    display: flex;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color:white;
    background-color:#4267b2;
    &.animate{
        .icon{
            font-size:15px;
            position: absolute;
            transition: transform 0.5s ease;
            transform: translateX(-110px);
            margin-right: 10%;
        }
        .title{
            padding: 5px 19px;
            transition: transform 0.5s ease;
           
        }
        &:hover .title {
            transform: translateX(110px);
            position: absolute;
            
        }
        &:hover .icon {
            transform: translateX(50%);
            position: absolute;
            
        }
    }
    
}


