.slider{
    margin-top:170px;
}
.header{
    position:fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}
.wrapper{
    padding: 1px;
    display: flex;
    flex-direction: column;
}
.card{
    height: 500px;
}