.icon {
    font: size 3rem;
}
.desc {
    line-break: auto;
    display: block;
    font-size: 19.5px;
    color: #8d8d8d;
    width: 50%;
    margin-bottom: 60px;
}
.title {
    font-size: 47px;
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
}
.wrapper {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    width: 1420px;
    display: flex;
    flex-direction: column;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: absolute;
    top:85%;
    left:0;
    right: 0;
    bottom: 0;
}
.slider-top {
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
}
.img > img {
    height: 100vh;
    top: -28%;
    right: 5%;
    position: absolute;
    transition: transform 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
   
}
.animate{
    transform: scale(0) rotate(65deg);
   
}
.btn-des{
}
.img {
    height: 472px;
    width: 472px;
    position: absolute;
    right: 5%;
    top: 50%;
    border-radius: 58% 42% 38% 62%/42% 55% 45% 58%;
    transform: translate(0, -50%);
    transition: border-radius 13s ease;
    animation: border 10s infinite;
    background-color: red;
    z-index: 11;
}
@keyframes border {
    0% {
        border-radius: 58% 42% 38% 62%/42% 55% 45% 58%;
    }
    50% {
        border-radius: 31% 69% 59% 41%/28% 24% 76% 72%;
    }
    100% {
        border-radius: 58% 42% 38% 62%/42% 55% 45% 58%;
    }
}
@keyframes load{
    from{
        scale:0
    }
    to{
        rotate:(65deg);
    }
}
