.icon {
    font: size 3rem;
}
.desc {
    line-break: auto;
    display: block;
    font-size: 19.5px;
    color: #8d8d8d;
    width: 80%;
    margin-bottom: 60px;
    min-height: 150px;
}
.title {
    font-size: 47px;
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    min-height: 100px;
}
.wrapper {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -10;
}
.inner {
    width: 1420px;
    display: flex;
    flex-direction: column;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider-top {
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
}
.img > img {
    height: 750px;
    margin-top: -106px;
    transition: transform 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}
.animate {
    transform: scale(0) rotate(65deg);
}
.btn-des {
}

.img {
    height: 472px;
    width: 472px;
    border-radius: 58% 42% 38% 62%/42% 55% 45% 58%;
    transform: translate(0, -50%);
    transition: border-radius 13s ease;
    animation: border 10s infinite;
    background-color: red;
    margin-right: 20px;
    margin-top: 207px;
    pointer-events: none;
    z-index: 91;
}
.change{
    z-index: 0;
}
@keyframes border {
    0% {
        border-radius: 58% 42% 38% 62%/42% 55% 45% 58%;
    }
    50% {
        border-radius: 31% 69% 59% 41%/28% 24% 76% 72%;
    }
    100% {
        border-radius: 58% 42% 38% 62%/42% 55% 45% 58%;
    }
}
@keyframes load {
    from {
        scale: 0;
    }
    to {
        rotate: (65deg);
    }
}
